.board {
  position: absolute;
  top: 50%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(9, 70px);
  grid-template-rows: repeat(9, 70px);
  grid-auto-flow: row;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece2 {
  width: 60px;
  height: 60px;
  position: relative;
  background-image: url(./clipart1952752.png);
  background-size: cover;
}

.piece {
  width: 60px;
  height: 60px;
  position: relative;
  background-image: url(./white_stone.png);
  background-size: cover;
}

.empty {
  width: 70px; 
  height: 70px;
  position: relative;
  background-image: url(./black_plus_thicker.png);
  background-size: cover;
}

.App {
  background-image: url(./dandelion4.jpg);
  background-size: cover;
  padding: 10px;
  height: 100vh;
  width: 100vw;
}

.myPicture {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-image: url('./me_cropped.jpg')
}